.Rproj.user
.Rhistory
.RData
.Ruserdata
data/*
!data/anonymized/
!data/processed/
!data/prelabs/
data/raw/*
*.html
*.pdf
**_files/
!data/raw/rstudio_cloud/RStudioCloudData.Rmd
!data/raw/survey/initial_cleaning.Rmd
!data/raw/YouTube/YouTubeData.Rmd
presentation
!index.Rmd
*.tex
!header.tex
**_cache/
*.log
comments/*
scraps.Rmd
